@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body{
    background-image: linear-gradient(to right, #CC8D1A, #E3C75F );    
}
main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #756631bd;
    width: 600px; 
    padding: 10px; 
    margin: auto;  
}
h1{
    color: #BDA523;
    text-align: center;
    text-shadow: 1px 1px 2px #524810d0;
}
h2{
    color: #164C45;    
}
p{
    text-align: justify;
}
